@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start-rgb: 255, 248, 243;
  --background-middle-rgb: 255, 248, 243; /* Added for consistency in radial gradient */
  --background-end-rgb: 247, 231, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-start-rgb: 255, 248, 243;
    --background-middle-rgb: 255, 248, 243;
    --background-end-rgb: 247, 231, 220;
  }
}

body {
  background: rgb(var(--background-start-rgb));
  background: radial-gradient(
          circle,
          rgba(var(--background-start-rgb), 1) 50%,
          rgba(var(--background-end-rgb), 1) 85%
  );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
